.checker-display {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 300px;
    height: 150px;
    background: white;
    color: darkgreen;
    font-family: monospace;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.checker-message {
    margin: 2px 5px;
}

.highlight-form {
    background: green !important;
    padding: 10px !important;
}